/* Project_Name: Nicky Dubs github page (based on Themezy Band Template) * Author: NICKY DUBS * Email: nickydubsmusic@gmail.com * URL: https://nickydubs.com */

body {
    position: absolute;         /* nic ==============================================================*/
    display: block; /* flex; */    
    width: 100%;                /* nic ==============================================================*/
    overflow-x: hidden;         /* nic ==============================================================*/
    margin: 0 20px;             /* nic ==============================================================*/
    padding: 32pxpx;            /* nic ==============================================================*/
    background-color: #141414;
    color: #848484;
    align-items: stretch;       /**/
    justify-content: center;    /**/
    font-family: "Source Sans Pro", "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px; 
    min-height: 30vh;
}
#site-content { overflow: hidden; }

a { background: transparent;
    transition: all 0.3s ease; }

a:focus { outline: thin dotted;
          transition: all 0.3s ease; }

a:link, a:visited {
  /* background-color: #f44336; */
  color: white;
  /* padding: 5px 10px; */
  text-align: center;
  text-decoration: none;
  display: inline-block; }

a:hover, a:active {
  /* background-color: rgba(0,0,0,0); */
  text-decoration: underline;
  outline: 0; }

small { display: block;
        margin: 2px;
        font-size: 80%; }

/* site header ===============================================================================*/
.site-header {
  /*margin: 0 0 30px 0; /**/
  position: absolute;   /* fixed ? */
  width: 100%;
  *zoom: 1;
  z-index: 99; /* float in front of stuff */ 
}
.site-header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0; 
}
.site-header .container {
  *zoom: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); 
}
.site-header .container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0; /* HEADER HEIGHT could be hardcoded here ============================================================== */
}

/* container ========================================================================== */
.container {
  width: 100%;
  margin: 0 20px;
  padding: 0 20px;         /*****/
  *zoom: 1; }
.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0; }

@media (min-width: 768px) { .container { width: 750px; } }
@media (min-width: 992px) { .container { width: 970px; } }
@media (min-width: 1200px) { .container { width: 1170px; } }

.container-fluid {
  margin: 0 auto;
  padding: 0;
  *zoom: 1; }
.container-fluid:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0; }


/* mouseovers ================================================================================ */
#branding {
  float: left;        /* left, right or none!! (no center) */
  display: block;       /* fixed it? */
  position: absolute;   /**/
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  z-index: 98;
}
#branding img {
    border-radius: 4px;
    box-shadow: 0px 0px 15px 15px rgba(253, 89, 39, 0.9);
    border: 4px solid rgba(230,255,255, 0.5);
    display: block;
}
.site-description {
    display: block;
    color: white;
    text-shadow: 1px 1px 1px #333333; /**/
}
#branding:hover, #branding:active { animation: orangepulse 2s infinite; }
@keyframes orangepulse {
    0%   { box-shadow: 0px 0px 15px 15px rgba(253, 89, 39, 0.9); }
    50%  { box-shadow: 0px 0px 20px 20px rgba(255, 69, 0,  1.0); }
    100% { box-shadow: 0px 0px 15px 15px rgba(253, 89, 39, 0.9); }
}

/* Social links ============================================================ */
.social-links {
    margin: 0 auto;         /* centers the div layer */
    width: 100%;
    padding: 0 0 0 139px;
/*    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; */
}
.social-icon {
    display: flex;
    position: absolute;     /* relative; */
    width: 60px;
    height: 60px;
    margin: 0 0.5rem;
    padding: 0;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Halvetica Neue",sans-serif,"Arial";
    font-size: 2rem;
    text-decoration: none;
    /* transition: all 0.6s ease; */
    box-shadow: inset 1px 1px 2px black,
                inset -1px -1px 2px white,
                5px 5px 10px red,
                -5px -5px 10px blue;
    border: 6px solid rgba(230,255,255, 1);
}
/* Hover Effect & tooltip */
.social-icon:hover {
    transition: all 0.6s ease; 
    box-shadow: inset 1px 1px 2px #90a4ae,
                inset -1px -1px 2px black,
                5px 5px 10px #90a4ae,
                -5px -5px 10px white; /* #fd5927; */
    border: 6px solid rgba(255,255,255);
    animation: glowpulse 1.2s infinite;
}
@keyframes glowpulse {
  0%   { 
    box-shadow: inset 1px 1px 2px #90a4ae,
                inset -1px -1px 2px black,
                5px 5px 10px #90a4ae,
                -5px -5px 10px white;       }
  50%  {
    box-shadow: inset 1px 1px 2px black, 
                inset -1px -1px 2px white,
                5px 5px 10px red,
                -5px -5px 10px blue;        }
  100% {
    box-shadow: inset 1px 1px 2px #90a4ae,
                inset -1px -1px 2px black,
                5px 5px 10px #90a4ae,
                -5px -5px 10px white;       }
}

/* Tooltips ===============================================================================***/
.tooltip {
/*    display: block; */
    position: absolute;
    top: 0;
    left: 50%;
    padding: 3px 4px; /*0.8rem 1rem; */
    border-radius: 4px; /*12px;*/
    font-size: 12px; /*0.8rem;*/
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
/*    text-transform: uppercase; */
    transform: translate(-50%, -100%);
    transition: all 0.3s ease-in-out;       /**/
    z-index: 99;
  }
  .tooltip:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
/*    border-width: 5px 5px 0 5px; /*10px 10px 0 10px;*/
/*    border-color: rgba(255, 69, 0,  0.1); /* transparent; */
    opacity: 0.9;
    transform: translate(-50%, 100%);
}

.social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    border: 2px solid rgba(230,255,255,0.9);
    box-shadow: 5px 5px 10px rgba(230,255,255);
    transform: translate(-50%, -150%);
}

/* colors ================================================================================ */
.social-icon--github{
    background: #4284c0;
    color: #fff; }
.social-icon--twitter { background: #2b97f1; }
.social-icon--youtube {
    background: #fa3217;
    color: white; }
.social-icon--instagram{
    background: #E1306C;
    color: white; }
.social-icon--facebook{
    background: #3b5a9b;
    color: white; }
.social-icon--twitch{
    background: purple;
    color: white; }
.social-icon--linktree{
    background: green;
    color: white; }
.social-icon--soundcloud{
    background: #ff5836;
    color: white; }

/* more tooltip stuff ?? ----------------------------------------------------------------------*/

.social-icon--facebook .tooltip {             background: #3b5a9b; columns: currentColor; }
.social-icon--facebook .tooltip:after { border-top-color: #3b5a9a; }

.social-icon--twitter .tooltip {             background: #2b97f1; columns: currentColor; }
.social-icon--twitter .tooltip:after { border-top-color: #2b97f1; }

.social-icon--youtube .tooltip {             background: #f31344; columns: currentColor; }
.social-icon--youtube .tooltip:after { border-top-color: #f31344;  }

.social-icon--soundcloud .tooltip {             background: #ff5836; columns: currentColor; }
.social-icon--soundcloud .tooltip:after { border-top-color: #ff5836;  }

.social-icon--instagram .tooltip {             background: #E1306C; columns: currentColor; }
.social-icon--instagram .tooltip:after { border-top-color: #E1306C;  }

.social-icon--github .tooltip {             background: #4284c0; columns: currentColor; }
.social-icon--github .tooltip:after { border-top-color: #4284c0;  }

.social-icon--twitch .tooltip {             background: purple; columns: currentColor; }
.social-icon--twitch .tooltip:after { border-top-color: purple;   }

.social-icon--linktree .tooltip {             background: green;  columns: currentColor; }
.social-icon--linktree .tooltip:after { border-top-color: green;    }
