/* Project_Name: Nicky Dubs github page (based on Themezy Band Template)
 * Author: Nicky Dubs * Email: nickydubsmusic@gmail.com * URL: http://nickydubs.com */

a       { background: transparent; transition: all 0.3s ease; }
a:focus { outline: thin dotted;    transition: all 0.3s ease; }
a:link, a:visited { /*background-color: #f44336;*/  color: white; text-align: center; display: inline-block; text-decoration: none; }
a:hover, a:active { /*background-color: rgba(0,0,0,1);*/  text-decoration: underline; outline: 0; }

.bg-original {  /* penises */ }
.lazy-bg {  }
.bg-color {  background: -webkit-linear-gradient(0, #4f4f4f, #4f4f4f) top left, -webkit-linear-gradient(0, #4f4f4f, #4f4f4f) top right, -webkit-linear-gradient(135deg, transparent 5px, #4f4f4f 0) bottom right, -webkit-linear-gradient(0, #4f4f4f, #4f4f4f) bottom left;
            background: linear-gradient(0, #4f4f4f, #4f4f4f) top left, linear-gradient(0, #4f4f4f, #4f4f4f) top right, linear-gradient(315deg, transparent 5px, #4f4f4f 0) bottom right, linear-gradient(0, #4f4f4f, #4f4f4f) bottom left;
            background-size: 55% 55%;
            background-repeat: no-repeat;
            background-size: cover;
 }
.bg {
/*    position: absolute;     /* ??? */
    margin: 0 20px;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1536264911542-668b0180d5a1?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=a9a32743f06349efc39aeae90f047e9f) center center cover no-repeat fixed;     /**/        
/*    opacity: 0.5;           /* ??? */
/*  background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /**/
/*    background-clip: text;
    height: 200vh;
    font-weight: bold;
    font-size: 25rem; /**/
/*    -webkit-text-fill-color: transparent; /**/
/*    position: relative;           /**/
/*    display: flex;
/*    align-items: flex-start;
    justify-content: center;  /**/
    overflow: hidden;
/*    
    &:before {
        content: '';
        background-image: inherit;  /**/
        background-size: cover;
/*        background-position: 50% 50%;
        position: absolute;
        top:0; right:0; bottom:0; left:0;  /* nic */
        z-index: -2;
 /*   }
/**/
}

body {
    position: absolute;                 /* nic ==============================================================*/
    display: block; /* flex; */
    width: 100%;                        /* nic ==============================================================*/
    overflow/*-x*/: hidden;             /* nic ==============================================================*/
    background-size: cover;             /* nic */
    background-color: #14141408;        /* nic */
    color: #84848408;                   /* nic */
    align-items: stretch;       /**/
    justify-content: center;    /**/
    top:0; right:0; bottom:0; left:0;   /* nic */
/*    align: center;                    /* nic */
    text-align: center;                 /* nic */
    font-family: "Source Sans Pro", "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    min-height: 30vh;
}
#site-content { overflow: hidden; } /* obsolete, delete? */

/* header ===============================================================================*/
header {
  display: block; /*flex; /*???*/
  margin: 20px; /**/
/*  position: relative;   /**/
  height: 115px;
  width: 100%;
  min-width: 720px;
  border-bottom: 1px solid rgba(230, 255, 255, 0.15); /* holy shit */
  *zoom: 1;
  z-index: 88;               /* 88 ==================*/
}
/*header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0; 
}
header .container {
  *zoom: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);       /* == holy craaap this line == */
/*}
header .container:after {
  content: " ";
/*  clear: both; /**/
/*  display: block;
  position: relative;
  overflow: hidden;
  height: 0; /* HEADER HEIGHT could be hardcoded here ============================================================== */
/*}
/**/

/* container ========================================================================== */
.container, footer {  /*  position: relative;       /* delete? pointless without top/bottom/left/right command ? */
  display: block; /*flex;            /* ??? */
  width: 100%;
  mid-width: 720px;         /* ??? */
  height: 540px;            /* ??? */
  min-height: 540px;         /* ??? */
  margin: 20px;
  text-align: center;
/*  padding: 0 20px;         /*****/
  *zoom: 1;
  z-index: 88;               /* 88 ==================*/

  /*  padding: 30px 20px 30px 20px;     /* Nic ======================================================================*/
  text-align: center;
}
.container:after {
  content: " ";
  clear: both;
/*  display: block;     /* ??? */
  overflow: hidden;
  height: 0; 
}

@media (min-width: 768px) { .container { width: 750px; } }
@media (min-width: 992px) { .container { width: 970px; } }
@media (min-width: 1200px) { .container { width: 1170px; } }
.container-fluid { margin:0 auto; padding:0; *zoom:1; }
.container-fluid:after { content:" "; clear:both; display:block; overflow:hidden; height:0; }

/* img ======================================================================================= */
img { border: 0; }

/* slider ======================================================================================= */
.slider { position: relative; }

/* mouseovers ================================================================================ */
#branding {
  float: left;        /* left, right or none!! (no center) */
  display: block;       /* keep */
  position: relative;   /**/
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  z-index: 98;
}
#branding img {
    display: block;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 1),
                inset -1px -1px 2px rgba(253, 89, 39, 0.9),
                5px 5px 10px red,
                -5px -5px 10px blue;
    border: 6px solid rgba(230,255,255, 0.1);   /**/
}
#branding:hover, #branding:active { animation: orangepulse 2s infinite; }
@keyframes orangepulse {
    0%   { box-shadow: 0px 0px 15px 15px rgba(253, 89, 39, 0.9); }
    50%  { box-shadow: 0px 0px 20px 20px rgba(255, 69, 0,  1.0); }
    100% { box-shadow: 0px 0px 15px 15px rgba(253, 89, 39, 0.9); }
}

small { display: inline-block;
/*        margin: 2px 0; /**/
        font-size: 11px;
        line-height: 13px;
        background: transparent; 
}
.site-description {
    display: inline-block;
    color: white;
    text-shadow: 1px 1px 1px #333333; /**/
}

/* Social links ============================================================ */
.social-links {
/*    margin: 36px;         /* centers the div box */
    height: 115px;             /* better hard code it */
    width: 100%;
    display: block;/*flex;      /* hmm? */
    position: absolute; /* important! */
    z-index: 97;        /* ? */
    padding: 0 139px;
/*    align-items: stretch;         /**/
/*    justify-content: space-evenly;  /**/
}
.social-icon {
    display: flex;      /* keep */
    position: relative; /* very important */
    width: 60px;
    height: 60px;
    min-width: 60px;        /**/
    margin: 0 0.5rem;       /**/
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Halvetica Neue",sans-serif,"Arial";
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.6s ease; /**/
    box-shadow: inset 1px 1px 2px black,
                inset -1px -1px 2px white,
                5px 5px 10px red,
                -5px -5px 10px blue;
    border: 6px solid rgba(230,255,255, 1); /* keep */
}
/* Hover Effect & tooltip */
.social-icon:hover {
    transition: all 0.6s ease; 
    box-shadow: inset 1px 1px 2px #90a4ae,
                inset -1px -1px 2px black,
                5px 5px 10px #90a4ae,
                -5px -5px 10px white; /* #fd5927; */
    border: 6px solid rgba(255,255,255,1);
    animation: glowpulse 1.2s infinite;
}
@keyframes glowpulse {
  0%   { 
    box-shadow: inset 1px 1px 2px #90a4ae,
                inset -1px -1px 2px black,
                5px 5px 10px #90a4ae,
                -5px -5px 10px white;       }
  50%  {
    box-shadow: inset 1px 1px 2px black, 
                inset -1px -1px 2px white,
                5px 5px 10px red,
                -5px -5px 10px blue;        }
  100% {
    box-shadow: inset 1px 1px 2px #90a4ae,
                inset -1px -1px 2px black,
                5px 5px 10px #90a4ae,
                -5px -5px 10px white;       }
}

/* Tooltips ===============================================================================***/
.tooltip {
/*    display: block; */
    position: absolute;
    top: 0;
    left: 50%;
    padding: 3px 4px; /*0.8rem 1rem; */
    border-radius: 4px; /*12px;*/
    font-size: 12px; /*0.8rem;*/
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
/*    text-transform: uppercase; */
    transform: translate(-50%, -100%);
    transition: all 0.3s ease-in-out;       /**/
    z-index: 99;
  }
  .tooltip:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
/*    border-width: 5px 5px 0 5px; /*10px 10px 0 10px;*/
/*    border-color: rgba(255, 69, 0,  0.1); /* transparent; */
    opacity: 0.9;
    transform: translate(-50%, 100%);
}
.social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    border: 1px solid rgba(230,255,255,0.9);
    box-shadow: 2px 2px 4px rgba(0,0,0,1);
    transform: translate(-50%, -150%);
}

/* icon colors ================================================================================ */
.social-icon--youtube { background: #fa3217; }
.social-icon--soundcloud { background: #ff5836; }
.social-icon--instagram { background: #E1306C; }
.social-icon--facebook{ background: #3b5a9b; }
.social-icon--twitter { background: #2b97f1; }
.social-icon--twitch { background: purple; }
.social-icon--linktree { background: green; }
.social-icon--github { background: #4284c0; }

/* tooltip colors -----------------------------------------------------------------------------*/
.social-icon--youtube .tooltip {             background: #f31344; columns: currentColor; }
.social-icon--youtube .tooltip:after { border-top-color: #f31344;  }

.social-icon--soundcloud .tooltip {             background: #ff5836; columns: currentColor; }
.social-icon--soundcloud .tooltip:after { border-top-color: #ff5836;  }

.social-icon--instagram .tooltip {             background: #E1306C; columns: currentColor; }
.social-icon--instagram .tooltip:after { border-top-color: #E1306C;  }

.social-icon--facebook .tooltip {             background: #3b5a9b; columns: currentColor; }
.social-icon--facebook .tooltip:after { border-top-color: #3b5a9b; }

.social-icon--twitter .tooltip {             background: #2b97f1; columns: currentColor; }
.social-icon--twitter .tooltip:after { border-top-color: #2b97f1; }

.social-icon--twitch .tooltip {             background: purple; columns: currentColor; }
.social-icon--twitch .tooltip:after { border-top-color: purple;   }

.social-icon--linktree .tooltip {             background: green;  columns: currentColor; }
.social-icon--linktree .tooltip:after { border-top-color: green;    }

.social-icon--github .tooltip {             background: #4284c0; columns: currentColor; }
.social-icon--github .tooltip:after { border-top-color: #4284c0;  }


/************************************************************************************************************************/
.contact-form { *zoom: 1; }
.contact-form:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
 
.contact-form input, 
.contact-form textarea {
    background: #353535;
    display: block;
    width: 100%;
    padding: 0;
    color: white;
    margin-bottom: 10px;
    border: none;
}
.contact-form input[type="submit"] {
    float: right;
    width: auto;
    background-color: #fd5927;
}
.contact-form textarea {    
    resize: vertical; 
    min-height: 120px;          /*  ???  ----------------*/
}
.contact-form textarea:focus {
    border: 6px solid rgba(255, 88, 54, 1);     /* nic */
}


/* sliderp paderp -a- derp *******************************************************************************************************************/
.slides {       *zoom: 1;
                margin: 0;
                padding-left: 0;
                list-style: none;
                overflow: hidden; }
.slides:after { content: " ";
                clear: both;
                display: block;
                overflow: hidden;
                height: 0; }

/*.slides*/ li{ margin-right: -100%;
                width: 100%;
                min-height: 540px;
                background-color: #171717;
                background-size: cover;       /* <- <- <--------------------- */
}

.slide-title {
  margin: 0;
  color: white;
  font-size: 48px;
  font-size: 3em;
  font-weight: 900;
  line-height: 1;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
  -webkit-transition: .3s ease;
          transition: .3s ease;
      -webkit-transition-delay: .3s;
              transition-delay: .3s; }

.slide-subtitle {
  color: #fd5927;
  font-size: 32px;
  font-size: 2em;
  font-weight: 300;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
  -webkit-transition: .3s ease;
          transition: .3s ease;
  -webkit-transition-delay: .6s;
          transition-delay: .6s; }

.slide-desc {
  font-size: 30px;
  font-size: 1.875em;
  font-weight: 300;
  line-height: normal;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
  -webkit-transition: .3s ease;
          transition: .3s ease;
  -webkit-transition-delay: .9s;
          transition-delay: .9s; }

.slide-title, 
.slide-subtitle, 
.slide-desc {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.flex-control-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 100%;
  bottom: 30px;
  z-index: 99;
  text-align: center;   }

.flex-control-nav li {
  display: inline-block;
  margin: 0 5px;    }

.flex-control-nav li a {
  display: block;
  width: 15px;
  height: 15px;
  background: url(images/pagination.png) no-repeat 0 0;
  text-indent: -99999px;
  cursor: pointer;  }

.flex-control-nav li a.flex-active { background-position: -15px 0; }

/* ---------------------------------------------------------------------------------------------- */
/* ============================================================================================== */
/**************************************************************************************************/

